// global styles

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  height: 100%;
  font-family: "FoundersGroteskMono", courier, monospace;
  font-size: 16px;
  line-height: 24px;
  margin: 24px auto;
  padding: 24px;
  padding-bottom: 96px;
}

h1 {
  color: $green;
}

subtitle {
  font-family: "FoundersGroteskMono", courier, monospace;
}

h3 {
  font-family: "FoundersGroteskMono", courier, monospace;
  padding: 24px;
}

h4 {
  font-family: "FoundersGroteskMono", courier, monospace;
  padding: 24px;
}

h5 {
  font-family: "FoundersGroteskMono", courier, monospace;
  padding-right: 32px;
}

a {
  cursor: pointer;
  color:$green;
  text-decoration: none;
}

.button {
  font-size:1.5em;
  font-weight: 700;
  padding: 15px 25px;
  background-color: $green;
  color: white;
  border-radius: 50px;
  cursor: pointer;
  height: 50px;
 
  &:hover {
    color:white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }

  &:active {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
}

footer {
  margin-top: 128px;
  text-align: center;

  .subscribe {
    background-color: $green;
  }
}

//BOOTSTRAP MODS
.container{
  width:80%;
  max-width:1200px;
  @media (max-width: 998px){
    width:90%;
  }
  @media (max-width: 678px) {
    width:100%;
  }
}
