// global styles

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
  height: 100%;
  font-family: "FoundersGroteskMono", courier, monospace;
  font-size: 16px;
  line-height: 24px;
  margin: 24px auto;
  max-width: 960px;
  padding: 24px;
  padding-bottom: 96px;
}

h1 {
  color: $green;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: blue;

  &:hover {
    border-bottom: 1px solid blue;
  }
}

.button {
  padding: 10px 18px 12px;
  background-color: black;
  color: white;
  border-radius: 2px;
  cursor: pointer;
  height: 46px;

  &:hover {
    border-bottom: 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  }

  &:active {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }

  @media (max-width: 800px) {
    display: flex;
    margin: 24px 0 0 0;
    width: 100%;
    justify-content: center;
  }
}

footer {
  margin-top: 128px;
  text-align: center;

  .subscribe {
    background-color: $green;
  }
}
