// Specific styles.

@import "reset";
@import "colors";
@import "typography";
@import "global";

//header

header {

  .mainLogo {
    display: block;
    width:100%;
    height:auto;
    margin: 0 auto;
    padding: 24px 0px 0px 0px;
    @media (min-width: 768px) {
      width: 65%;      
    }
    &:hover {
      text-decoration: none;
    }
  }

  .logo {
    width: 100px;
    height:auto;
  }

  .subtitle {
    font-size:1em;
    @media(max-width:568px){
      font-size:0.8em;
      font-size: 12px;
    }
  }

  .place small{
    margin-left: 40px;
    @media (min-width: 768px) {
      margin-left: 50px;      
    }
  }

//nav
  nav {
    position: absolute;
    z-index:99;
    right:0px;
    padding-top: 24px;
    a {
      padding: 0px 12px;
      color: black;

      &:hover {
        color:$green;
        font-style: italic;
      }

    }
  }
}

.links{
  position: relative;
  float:right;
  text-align: right;
}

.navList{
  text-align: right;
}
.navList li {
  list-style: none;
  font-size:1.5em;
  padding-bottom:10px;
  @media(max-width:568px){
    font-size:0.9em;
    padding-bottom:10px;
    margin: -15px 0px;
  }
}
.navList a {
  text-decoration: none;
}

.navList_sub{
  text-align: right;
}
.navList_sub li {
  list-style: none;
  font-size:1.5em;
  padding-bottom:5px;
  color:$green;
  font-style: italic;
  @media(max-width:568px){
    font-size:0.9em;
    padding-bottom:5px;
    margin: -15px 0px;
  }
}
.navList_sub a {
  text-decoration: none;
}

.specs {
  li {
    list-style: none;
    margin-bottom: 24px;

    h4 {
      font-family: "FoundersGroteskMono", courier, monospace;
      }
    }
  }

  .quote {
    margin: auto;
    padding: 0px 30px;
    @media (min-width: 768px) {
      padding: 0px 85px;
    }
    h4 {
      padding: 0;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      font-family: "FoundersGroteskMono", courier, monospace;
      }
    h5 {
      padding: 30px 0 0 0;
      font-size: 16px;
      text-align: right;
      font-family: "FoundersGroteskMono", courier,monospace;
      display: inline-block;
      }
    }



.applyBtn{
  text-align: right;
  padding: 24px 0px 0px 120px;
  @media(max-width: 568px){
    text-align: center;
    margin-top:15px;
  }
}

//Coordinators section
.sponsorItem {
  margin:auto;
  img.logo {
    justify-content: space-between;
    height: 150px;
    width: auto;
    @media(max-width:568px){
      height: auto;
      width: 125px;
    }
  }
}

// agenda

.agenda {
  padding-top: 32px;
  .title,
  .row {
    display: grid;
    grid-template-columns: 5fr 6fr;
    grid-column-gap: 12px;
    padding: 0px 24px 24px 24px;

    @media (max-width: 800px) {
      grid-template-columns: 1fr;
      grid-column-gap: 24px;
      grid-template-rows: 1fr 1fr 1fr;
      padding-bottom: 24px;
    }

    li {

      list-style: none;
      padding: 0px 32px 0px 64px;

      &:first-child {
        font-weight: bold;
        text-align: left;
      }

      &:nth-child(3n) {
        text-align: left;
      }

      @media (max-width: 800px) {
        &:nth-child(3n) {
          text-align: left;
        }

        &:not(:first-child) {
          padding-left: 12px;
        }
      }
    }
  }
}

//UPDATES
.updates {
  margin-top: 32px;
  text-align: center;
}

.update p {
  margin-bottom: 32px;
}

//FAQ
.question {
  font-weight: bold;
  margin-bottom: 8px;
}

.answer {
  margin-bottom: 32px;
}
