// Specific styles.

@import 'reset';
@import 'colors';
@import 'typography';
@import 'global';

//header

header {
  .mainLogo {
    width: 100%;
    height: auto;
    padding: 24px 0px 0px 0px;
    &:hover {
      text-decoration: none;
    }
  }

  .logo {
    width: 100px;
    height: auto;
  }

  .subtitle {
    font-size: 1em;
    @media (max-width: 568px) {
      font-size: 0.8em;
      font-size: 12px;
    }
  }

  //nav
  nav {
    position: absolute;
    z-index: 99;
    right: 0px;
    padding-top: 24px;
    a {
      padding: 0px 12px;
      color: black;

      &:hover {
        color: $green;
        font-style: italic;
      }
    }
  }
}

.links {
  position: relative;
  float: right;
  text-align: right;
}

.navList {
  text-align: right;
}
.navList li {
  list-style: none;
  font-size: 1.5em;
  padding-bottom: 10px;
  @media (max-width: 568px) {
    font-size: 0.9em;
    padding-bottom: 10px;
    margin: -15px 0px;
  }
}
.navList a {
  text-decoration: none;
}

.navList_sub {
  text-align: right;
}
.navList_sub li {
  list-style: none;
  font-size: 1.5em;
  padding-bottom: 5px;
  color: $green;
  font-style: italic;
  @media (max-width: 568px) {
    font-size: 0.9em;
    padding-bottom: 5px;
    margin: -15px 0px;
  }
}
.navList_sub a {
  text-decoration: none;
}

@media (max-width: 1024px) {
  .event-info {
    h6 {
      font-size: 1rem;
    }
  }
}

.specs {
  li {
    list-style: none;
    margin-bottom: 24px;

    h4 {
      font-family: 'FoundersGroteskMono', courier, monospace;
    }
  }
}

.quote {
  margin: auto;
  h4 {
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    font-family: 'FoundersGroteskMono', courier, monospace;
  }
  h5 {
    font-size: 16px;
    text-align: right;
    font-family: 'FoundersGroteskMono', courier, monospace;
    display: inline-block;
  }
}

@media (min-width: 1024px) {
  .quote {
    padding: 0px 85px;
  }
}
//Speaker
.speaker {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .meta {
    padding-bottom: 24px;
    width: 150px;
	text-align: center;
	align-self: center;
    @media (max-width: 125px) {
      font-size: 12px;
    }
  }

  img.avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    @media (max-width: 568px) {
      height: 75px;
      width: 75px;
    }
  }
}

.applyBtn {
  text-align: right;
  padding: 24px 0px 0px 120px;
  @media (max-width: 568px) {
    text-align: center;
    margin-top: 15px;
  }
}

//Coordinators section
.sponsorItem {
  margin: auto;
  img.logo {
    justify-content: space-between;
    height: 150px;
    width: auto;
    @media (max-width: 568px) {
      height: auto;
      width: 125px;
    }
  }
}

.p {
  text-align: center;
  justify-content: center;
}

// agenda

.agenda {
  padding-top: 32px;
  .title,
  .background {
    font-weight: bold;
  }
  .row {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-column-gap: 12px;
    padding: 0px 24px 24px 24px;

    @media (max-width: 800px) {
      grid-template-columns: 1fr 3fr 3fr;
      grid-column-gap: 24px;
      grid-template-rows: 1fr 1fr 1fr;
      padding-bottom: 24px;
    }
    .column {
      display: grid;
      @media (max-width: 800px) {
      }
    }
    li {
      list-style: none;
      padding: 0px 32px 0px 0px;

      &:first-child {
        font-weight: bold;
        text-align: right;
      }

      &:nth-child(3n) {
        text-align: left;
      }

      @media (max-width: 800px) {
        &:nth-child(3n) {
          text-align: left;
        }

        &:not(:first-child) {
          padding-left: 12px;
        }
      }
    }
  }

  .row_header {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-column-gap: 12px;
    padding: 0px 12px 24px 12px;

    @media (max-width: 800px) {
      grid-template-columns: 1fr 3fr 3fr;
      grid-column-gap: 12px;
      grid-template-rows: 1fr 1fr 1fr;
      padding-bottom: 24px;
    }
    li {
      list-style: none;
      padding: 0px 32px 0px 0px;
      font-size: 24px;

      @media (max-width:800px) {
      font-size: 18px;
      }

      &:first-child {
        text-align: left;
        font-weight: bold;
      }

      &:nth-child(2n) {
        font-weight: bold;
        text-align: left;
      }

      &:nth-child(3n) {
        font-weight: bold;
        text-align: left;
      }

      @media (max-width: 800px) {
        &:nth-child(2n) {
          font-weight: bold;
          text-align: left;
        }
        &:nth-child(3n) {
          font-weight: bold;
          text-align: left;
        }

        &:not(:first-child) {
          font-weight: bold;
          padding-left: 12px;
        }
      }
    }
  }
}

//UPDATES
.updates {
  margin-top: 32px;
  text-align: center;
}

.update p {
  margin-bottom: 32px;
}

//FAQ
.question {
  font-weight: bold;
  margin-bottom: 8px;
}

.answer {
  margin-bottom: 32px;
}
