// Specific styles.

@import "reset";
@import "colors";
@import "typography";
@import "global";

//header

header {

  .mainLogo {
    width:100%;
    max-width:800px;
    height:auto;
    margin:auto;
    &:hover {
      text-decoration: none;
    }
  }

  .logo {
    width: 100px;
    height:auto;
  }
  

  nav {
    height: 50px;
    min-height: 250px;
    a {
      padding: 0 12px;
      color: black;

      &:hover {
        color:$green;
      }

    }
  }
}

.links{
  position: relative;
  float:right;
  text-align: right;
}

.navList{
  text-align: right;
}
.navList li {
  list-style: none;
  font-weight: 700;
  font-size:1.25em;
  &:hover{
    font-style: italic;
  }
  @media(min-width:1250px){
    font-size:2em;
    padding: 25px 0px;
  }
}
.navList a {
  text-decoration: none;
}

.specs {
  li {
    list-style: none;
    margin-bottom: 24px;

    h4 {
      font-family: "FoundersGroteskMono", courier, monospace;
    }
  }
}


//Lecturer
.lecturers {
  display: grid;
  grid-template-columns: 100px 50px 100px;
  grid-template-rows: 80px auto 80px;
  grid-column-gap: 24px;
  grid-row-gap: 15px;
}

.lecturer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 12px 0 0 12px;

  .meta {
    margin: auto;
  }

  img.avatar {
    height: 125px;
    width: 125px;
    border-radius:50%;
  }
}

.sponsorItem {
  margin:auto;
  img.logo {
    justify-content: space-between;
    height: auto;
    width: 200px;
  }
}

.applyBtn{

}

// syllabus

.syllabus {

  .title,
  .row {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    grid-column-gap: 24px;
    padding-bottom: 12px;

    @media (max-width: 800px) {
      grid-template-columns: 1fr;
      grid-column-gap: 24px;
      grid-template-rows: 1fr 1fr 1fr;
      padding-bottom: 24px;
    }

    li {

      list-style: none;

      &:first-child {
        font-weight: bold;
      }

      &:nth-child(3n) {
        text-align: right;
      }

      @media (max-width: 800px) {
        &:nth-child(3n) {
          text-align: left;
        }

        &:not(:first-child) {
          padding-left: 30px;
        }
      }
    }
  }
}

//UPDATES
.updates {
  margin-top: 32px;
  text-align: center;
}

.update p {
  margin-bottom: 32px;
}

//FAQ
.question {
  font-weight: bold;
  margin-bottom: 8px;
}

.answer {
  margin-bottom: 32px;
}
